[Unit]
Description=Selfie App Service
After=network.target

[Service]
ExecStart=/home/pi/Desktop/selfie-app/run_instagram_scraper
WorkingDirectory=/home/pi/Desktop/selfie-app
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=selfie-app
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
