[Unit]
Description=Selfie App Batch Print
After=network.target

[Service]
ExecStart=/home/pi/Desktop/selfie-app/run_batch_print
WorkingDirectory=/home/pi/Desktop/selfie-app
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=selfie-app_batch-print
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
